/*STYLE OF ALL PAGES*/
body{
  color: black!important;
}
.invisible{
  display: none;
}

/*NavBar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d8d8d8;

    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #bcbcbc;
}
li a:hover{
  color : black;
}

.active {
    background-color: #9ecaed;
}

.right{
    float : right;
}

#userName{
  color : white;
}

/*Main*/
#main{
  /*background-color: #d8d8d8;*/
  width: 96%;
  margin-top: 20px;
  margin-left:2%;
  margin-right: 2%;
  padding: 10px 20px 10px 20px;

  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 5px #9ecaed;

  font-size: 1.1em;
}

/*Table*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #999;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ddd;
}

td a{
  color : black;
}

td a:hover{
  color: black;
  text-shadow:
      2px 2px 1px #CFB565,
      2px 3px 1px #CFB565;

}

.case{
  height:100%;
  width:100%;
}

/*Disclamer*/
#disclamer{
  background-color: #5e7ded;
  width : 100%;
  padding: 10px;
  color: #d6d6d6;

}

#disclamer a{
 color : #d6d6d6;
 text-decoration: underline;
}

#disclamerButton{
  float : right;

  background-color: #5e7ded;
  border: 1px solid white;
  /*color: white;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
